@using Microsoft.AspNetCore.Identity
@using ControlOfRealEstate.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="ui horizontal segments user-panel">
        <div class="right menu">
            <div class="item">
                <div class="ui compact menu" style="border: none; box-shadow: none;">
                    <div class="ui simple dropdown item" style="padding: 0px 15px;">
                        <i class="big spy icon"></i>
                        <div style="min-width: 100px;">
                            <span>@user.UserName</span><br />
                            <small>@user.Email</small>
                        </div>
                        <i class="dropdown icon"></i> <div class="menu">
                            <div class="item"><a href="@Url.Action("Index", "Profile")" class="black-link">Профиль</a></div>
                            <div class="divider"></div>
                            @if (User.IsInRole("Administrator"))
                            {
                                <div class="item"><a href="@Url.Action("Index", "Moderation")" class="black-link">Модерация</a></div>
                            }
                            <div id="addObjectBtn" class="item">Подать информацию</div>
                            <div class="divider"></div>
                            <div class="item" id="logoutLink" onclick="$('#logoutForm').submit();">Выход</div>
                        </div>
                    </div>
                </div>

                <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" style="display: none;">
                    <button type="submit" id="logoutBtn" class="ui">Выход</button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="ui horizontal segments user-panel" style="padding: 0 !important;">
        <div class="right menu">
            <div class="item">
                <div class="ui compact menu" style="border: none; box-shadow: none; min-width: 80px;">
                    <div class="item">
                        <a href="@Url.Action("Login", "Account")" style="color: black;">
                            <i class="large sign in icon"></i>
                            Войти
                        </a>
                    </div>
                </div>

                <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" style="display: none;">
                    <button type="submit" id="logoutBtn" class="ui">Выход</button>
                </form>
            </div>
        </div>
    </div>
}
