@using ControlOfRealEstate.HtmlHelpers;
@model ControlOfRealEstate.Models.ForumViewModels.CommentViewModel

<div class="comment">
    <a class="avatar">
        <img src="@CommentHtmlHelper.ToGravatarUrl(Model.Email, 50)">
    </a>
    <div class="content">
        <input type="hidden" class="comment-id" value="@Model.CommentId" />
        <a class="author">@Model.UserName.ToLower()</a>
        <div class="metadata">
            <time class="timeago date" datetime="@Model.CreatedAt.ToUniversalTime().ToString("yyyy-MM-ddTHH\\:mm\\:ssZ")">@Model.CreatedAt</time>
        </div>
        <div class="text">
            @Model.CommentText
        </div>
        <div class="actions">
            <a class="reply">ответить</a>
        </div>
    </div>
</div>
