@using ControlOfRealEstate.Models.ForumViewModels;
@model ForumThreadGroupViewModel
@{
    Layout = "_LayoutForum";
    ViewBag.Title = "Обсуждение | Система контроля недвижимости";
}

@inject SignInManager<ApplicationUser> SignInManager

<div class="pusher">
    <div class="ui container">

        <div class="thread-title">
            <h1 class="ui header">Обсуждение на форуме</h1>
            <h4>Адрес: @Model.Address</h4>

            @if (Model.Description != null)
            {
                <p>Описание: @Model.Description</p>
            }

            @if (Model.Infringement != null)
            {
                <p>Выявленные нарушения: @Model.Infringement</p>
            }

            @if (Model.ResultsOfReview != null)
            {
                <p>Результаты рассмотрения: @Model.ResultsOfReview</p>
            }
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <button id="addThemeBtn" class="ui primary button header-button">
                <i class="fork icon"></i>Добавить тему
            </button>
        }

        @if (!Model.ForumThreads.Any())
        {
            <div id="empltyListMessage" class="ignored ui info message">Для данного объекта не создано ни одной темы для обсуждения.</div>
        }

        <div id="threadsList" class="ui relaxed divided animated list">
            @foreach (ForumThreadViewModel thread in Model.ForumThreads)
            {
                @Html.Partial("_ThreadLite", thread)
            }
        </div>
    </div>

    @Html.Partial("_AddThemeModal", Model)
</div>

@section Scripts {
    <script src="~/lib/jquery-timeago/jquery.timeago.js"></script>
    <script src="~/lib/jquery-timeago/locales/jquery.timeago.ru.js"></script>
    <script>
        $(function () {
            $("time.timeago").timeago();

            // Правила валидации
            $("#addThemeModal form").form({
                fields: {
                    illegalObjectId: 'empty',
                    theme: 'empty',
                    description: 'empty'
                }
            });

            // Добавление темы обсуждения
            $("#addThemeBtn").click(function () {
                $("#addThemeModal form").form("reset");
                $("#addThemeModal")
                    .modal({
                        onApprove: function () {
                            var addThemeForm = $(this).find("form");

                            var isValid = addThemeForm.form('is valid');
                            if (!isValid) return false;

                            var values = addThemeForm.form("get values");

                            var url = "@Url.Action("CreateThread", "Forum")";
                            $.post(url, values, function (response) {
                                if ($("#threadsList .item").length < 1) {
                                    $("#empltyListMessage").remove();
                                }

                                $("#threadsList").prepend(response);
                                $("time.timeago").timeago();
                            });
                        }
                    })
                    .modal("show")
            });
        });
    </script>
}