@using ControlOfRealEstate.Models.ForumViewModels;
@model ForumThreadGroupViewModel
@{
    ViewBag.Title = "Обсуждение | Система контроля недвижимости";
}

<div class="pusher">
    <div class="ui container">

        <div class="thread-title">
            <h1>Обсуждение на форуме</h1>
            <h4>Адрес: @Model.Address</h4>
            @*<h1>@Model.Address</h1>*@

            @if (Model.Description != null)
            {
                <p>Описание: @Model.Description</p>
            }

            @if (Model.Infringement != null)
            {
                <p>Выявленные нарушения: @Model.Infringement</p>
            }

            @if (Model.ResultsOfReview != null)
            {
                <p>Результаты рассмотрения: @Model.ResultsOfReview</p>
            }
        </div>

        <button class="ui primary button">
            <i class="fork icon"></i>Добавить тему
        </button>

        @if (!Model.ForumThreads.Any())
        {
            <div class="ignored ui info message">Для данного объекта не создано ни одной темы для обсуждения.</div>
        }

        <div class="thread-list ui relaxed divided animated list">
            @foreach (ForumThreadViewModel thread in Model.ForumThreads)
            {
                <div class="item">
                    @*<i class="large github middle aligned icon"></i>*@
                    <div class="right floated content">
                        <time class="timeago description" datetime="@thread.LastUpdate.ToUniversalTime().ToString("yyyy-MM-ddTHH\\:mm\\:ssZ")">@thread.LastUpdate</time>
                    </div>
                    <div class="content">
                        <a class="header" asp-controller="forum" asp-action="thread" asp-route-id=@thread.ForumThreadId>@thread.Theme</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-timeago/jquery.timeago.js"></script>
    <script src="~/lib/jquery-timeago/locales/jquery.timeago.ru.js"></script>
    <script>
        $(function () {
            $("time.timeago").timeago();
        });
    </script>
}